@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit";
}

hr{
    border: 1px solid blue;
}

.app-container {
    display: flex;
}
  
/* .main-content {
    flex: 1;
    padding: 1rem;
} */
  
/* Layout container */
.app-container {
    display: flex;
    height: 100%;
    overflow: hidden;
  }
  
/* .container{
    padding: 30px;
} */

/* Main content area */
.main-content {
    /* margin-top: 60px;   */
    width: 100%;
    height: 90vh;
    overflow-y: auto; /* Make main content scrollable */
  }
  